body {
    margin: 0;
    padding: 0;
    background-color: #e3f2fd;
    font-family: Arial, sans-serif;
    user-select: none;
    overflow: hidden;
}

#game-field {
    position: relative;
    width: 90vw;
    height: 70vh;
    margin: 10vh auto 0;
    background-color: transparent;
    z-index: 1;
}



